@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.app {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  padding: 0;
}

.choicesFont {
  font-size: 22px !important;
  color: black;
}

.container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.start-again-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.start-again-btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scoreboard {
  font-size: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 15px;
  margin-bottom: 10px;
}

.score-item {
  font-size: 30px !important;
  display: flex;
  align-items: center;
}

.score-item i {
  font-size: 30px !important;
  margin-right: 10px;
  color: #ffce18;
}

.cardCss {
  padding: 30px;
  text-align: start;
  margin-bottom: 10px;
  min-height: 80px;
}

.cardCss h1 {
  font-size: 45px;
  color: #333;
  margin-bottom: 40px;
  font-weight: 300;
}

.choices {
  font-family: 'Libre Franklin', sans-serif;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.choices button {
  border: none;
  padding: 20px;
  font-size: 19px;
  cursor: pointer;
  font-weight: 100;
  min-height: 100px;
  background-color: #f8f8f8;
  color: black;
}

@media (max-width: 768px) {
  .choices {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
  }

  .cardCss,
  .scoreboard,
  .choices button {
    font-size: 15px;
    padding: 5px;
  }

  .cardCss h1 {
    font-size: 35px;
  }

  .score-item {
    font-size: 18px;
  }

  .start-again-btn,
  .choices button {
    padding: 2px;
  }

  .choices button:active {
    background-color: #f8f8f8;
  }

  .wrong-words {
    font-size: 13px;
    margin-top: 20px;
  }

  .choicesFont {
    font-size: 15px !important;
    color: black;
  }
}

.textWordQuiz {
  font-family: 'Libre Franklin', sans-serif;
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
}

.wordDayQuiz {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 51px;
}

.footer {
  padding-top: 300px !important;
}

.scoreQuiz {
  font-size: 45px !important;
}
