@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.app {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  padding: 0;
}

.footer {
  padding-top: 300px !important;
}

.scoreQuiz {
  font-size: 45px !important;
}

.wrong-words {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  word-break: break-word;
}

.wrong-words a {
  white-space: nowrap;
}

.choicesFont {
  font-size: 22px !important;
  color: black;
  padding: 15px;
  min-height: 100px;
  background-color: #f8f8f8;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.start-again-btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  font-weight: 600;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.start-again-btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.scoreboard {
  font-size: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 15px;
  margin-bottom: 10px;
}

.score-item {
  font-size: 30px !important;
  display: flex;
  align-items: center;
  color: #ffce18;
}

.score-item i {
  font-size: 30px !important;
  margin-right: 10px;
}

.cardCss {
  padding: 30px;
  text-align: start;
  margin-bottom: 10px;
  min-height: 80px;
}

.cardCss h1 {
  font-size: 45px;
  color: #333;
  margin-bottom: 40px;
}

.choices {
  font-family: 'Libre Franklin', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.textWordQuiz {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
}

.wordDayQuiz {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 75px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .cardCss {
    padding: 7px !important;
    margin: 0 !important;
  }
  .choices {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 !important;
    width: 100%;
    margin: 0;
  }

  .sentence {
    margin-bottom: 5px !important;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
  }

  .choicesFont {
    font-size: 14px !important;
    padding: 20px !important;
    min-height: 80px;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardCss,
  .scoreboard {
    font-size: 15px;
  }

  .cardCss h1 {
    font-size: 35px;
  }

  .start-again-btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .wrong-words {
    font-size: 14px !important;
    margin-top: 20px;
  }

  .wordDayQuiz {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px !important;
    font-weight: 500;
  }

  .score-item,
  .scoreboard {
    font-size: 25px !important;
  }
}

