* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

p,
.wordDay,
.textWord,
.wordCount {
  font-family: 'Libre Franklin', sans-serif;
}

.wordDay {
  font-size: 31px;
}

.textWord {
  font-size: 17px;
}

.textWord2 {
  font-size: 18px;
}

.wordCount {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out;
}

.wordCount:hover {
  transform: scale(1.1);
}

.loadMore {
  border: 0.3px solid #ccc;
  font-size: 13px;
  background-color: transparent;
  padding: 1.2px;
  margin: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMore:hover {
  background-color: transparent;
  border-color: #132732;
}

.search-bar input.form-control {
  width: 100%;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input.form-control:hover,
.search-bar input.form-control:focus {
  border-color: #132732;
  box-shadow: 0 0 2px rgba(245, 205, 72, 0.5);
  outline: none;
}

.custom-image-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.custom-image {
  width: 320px;
  height: 300px;
  border-radius: 20px;
  border: 5px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-image:hover {
  transform: scale(1.75);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btnTop {
  background-color: transparent;
  border: none;
  color: #333;
  transition: color 0.3s, fill 0.3s;
}

.btnTop:hover {
  color: #132732;
  fill: #ffce01;
}

.btnTop1 svg {
  width: 14px;
  height: 14px;
}

.grammar {
  color: #2f5a8a;
  font-size: 17px;
}

.tense {
  font-size: 19px;
}

.tip {
  color: #2f5a8a;
  font-size: 15px;
}

.wordMain {
  font-size: 30px;
}

.marginMain {
  margin-left: 60px;
}

.frameMAin {
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.mobileBelow {
  display: flex;
  flex-direction: row;
}
