/* Global reset and font setup */
* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}

p, .wordDay, .textWord, .wordCount {
  font-family: 'Libre Franklin', sans-serif;
}

/* Styling for the main word */
.wordDay {
  font-size: 31px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.textWord {
  font-size: 17px;
  margin-bottom: 10px;
}

.wordCount {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out;
}

.wordCount:hover {
  transform: scale(1.1);
}

/* Load More Button */
.loadMore {
  border: 0.3px solid #ccc;
  font-size: 13px;
  background-color: transparent;
  padding: 5px 10px;
  margin: 13px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.loadMore:hover {
  background-color: transparent;
  border-color: #132732;
}

/* Search bar */
.search-bar input.form-control {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input.form-control:hover,
.search-bar input.form-control:focus {
  border-color: #132732;
  box-shadow: 0 0 2px rgba(245, 205, 72, 0.5);
  outline: none;
}



.grammar {
  font-size: 17px;
}

.tense {
  font-size: 19px;
}


/* Main word styling */
.wordMain {
  font-size: 30px;
  margin-bottom: 15px;
}

/* Margin adjustments */
.marginMain {
  margin-left: 60px;
}

/* Main container adjustments */
.frameMAin {
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

/* Example sentence alignment and spacing */
.exampleSentence {
  margin-top: 20px;
}

.mobileBelow {
  display: flex;
  flex-direction: row;
}


