.wordList:hover {
  text-decoration: underline;
  margin-bottom: 1px;
}

.wordList {
  transition: text-decoration 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
  font-family: 'Libre Franklin', sans-serif;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  font-style: italic;
  font-size: 14px;
  white-space: nowrap; 
}

.word-detail {
  min-height: 200px;
  width: 100%;
}

.wordCountx {
  transition: text-decoration 0.3s ease-in-out, margin-bottom 0.3s ease-in-out;
  font-family: 'Libre Franklin', sans-serif;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.6;
  font-size: 14px;
  gap: 20px;
}

.homeBorder {
  margin-left: 90px;
}
