@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.custom-gutter {
  margin-right: -1px;
  margin-left: -1px;
}
.custom-gutter > [class^='col-'] {
  padding-right: 1px;
  padding-left: 1px;
}
.custom-row-gap {
  row-gap: 20px;
}
.homeCss {
  background: none !important;
  text-decoration: none;
  color: inherit;
  font-family: 'Libre Franklin', sans-serif;
}

.homeCss {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  color: inherit;
}

.homeCss a {
  text-decoration: none;
  color: inherit;
}

.homeCss a:hover {
  text-decoration: none;
  color: inherit;
}

