@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.custom-gutter {
  margin-right: -1px;
  margin-left: -1px;
}
.custom-gutter > [class^='col-'] {
  padding-right: 1px;
  padding-left: 1px;
}
.custom-row-gap {
  row-gap: 20px;
}
.homeCss {
  background: none !important;
  text-decoration: none;
  color: inherit;
  font-family: 'Libre Franklin', sans-serif;
}

.homeCss {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.homeCss a {
  text-decoration: none;
  color: inherit;
}

.homeCss a:hover {
  text-decoration: none;
  color: inherit;
}

.home2 {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-family: 'Libre Franklin', sans-serif;
}

.home2::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.home2:hover::after {
  width: 100% !important;
}

.home2:hover {
  transform: scale(1.1);
  text-decoration: none !important;
}

.textMain {
  font-size: 26px !important;
}
