@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.custom-gutter {
  margin-right: -2px;
  margin-left: -2px;
}
.custom-gutter > [class^='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}
.custom-row-gap {
  row-gap: 50px;
}
