.favButton:hover {
  fill: #f33b1e;
}

a {
  font-family: 'Libre Franklin', sans-serif;
}

.emailText {
  text-align: center;
  border-radius: 3px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 0 1px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding: 0px;
  padding-left: 3px;
}

.svgBtn {
  all: unset; /* Unsets all inherited styles */
  cursor: pointer; /* Ensures the cursor indicates a clickable button */
  display: inline-block; /* Makes sure the button is properly formatted */
  padding: 0; /* Removes padding */
  border: none; /* Removes border */
  background: none; /* Removes background */
}
