a {
  font-family: 'Libre Franklin', sans-serif;
}

.emailText {
  text-align: center;
  border-radius: 3px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 0 1px;
  margin-top: 0px;
  margin-bottom: 3px;
  padding: 0px;
  padding-left: 3px;
}

.svgBtn {
  all: unset;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1020;
  width: 100%;
}

.image-container {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.img-fluid {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center bottom;
}

.learnGerman {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 11px;
}

.navLink a {
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navLink a:hover,
.navLink a:focus,
.profilLink a:focus,
.profilLink a:hover {
  background-color: hsl(10, 71%, 60%);
  box-shadow: 0 0 10px rgba(218, 81, 61, 0.5);
}

.profilLink a:focus,
.profilLink a:hover {
  padding: 10px 20px;
}

/* .navLink a {
    transition: all 0.3s ease;
    text-decoration: none; 
  }

  .navLink a:hover,
  .navLink a:focus {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
    transform: translateY(-2px); 
  } */

.altNav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #da513d;
  width: 50%;
  margin: 0 auto;
  list-style: none;
}

.altNav2 {
  color: #da513d;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

.altNav2:hover {
  border-bottom: 1px solid #da513d;
}
