@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Base link styles */
a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--bs-secondary-color);
  transition: color 0.3s, transform 0.3s;
}

/* Main container for navigation */
.navMain1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* Secondary container for navigation links */
.navMain2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  white-space: nowrap; /* Prevent wrapping */
}

.navMain2 a:hover {
  transform: scale(1.1);
  color: var(--bs-primary-color);
}

/* Icon sizes */
.navMain2 .flag {
  font-size: 24px;
}

/* Word count styling */
.count {
  font-size: 20px;
  font-weight: 400;
}

/* Total words hover effect */
.totalWords {
  transition: transform 0.3s ease;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.totalWords:hover {
  transform: scale(1.1);
}

/* Spacing and alignment for nav items */
.navMain3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px; /* Adjust gap for better spacing */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevent wrapping */
  margin-top: 4px;
}

.text-body-secondary.count i.flag {
  display: inline-block;
  margin-right: 4px; /* Consistent spacing between icon and text */
}

/* Link styling */
.navMain2 a {
  color: var(--bs-secondary-color);
  display: flex;
  align-items: center;
  gap: 8px;
}
