.shareButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.feedbackText {
  position: absolute;
  left: 100%;
  top: 50%;
  white-space: nowrap;
  margin-left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
}

.animate {
  animation: flashColors 2s linear;
}

@keyframes flashColors {
  0%,
  100% {
    background-color: white;
  }
  66% {
    background-color: gold;
  }
}

.wordDay {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 31px;
}
