p {
  font-family: 'Libre Franklin', sans-serif;
}

.wordDay {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.6875rem;
}

.textWord {
  font-family: 'Libre Franklin', sans-serif;
}

.textWord1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.textWord2 {
  font-size: 18px;
}

/* @media (max-width: 576px) {
  .mobileWord {
  }
} */

.loadMore {
  border: 1px solid #ccc; 
  border-radius: 3px; /* Rounded corners for a smoother look */
  font-family: 'Libre Franklin', sans-serif; /* Consistent font family */
  font-size: 14px; /* Appropriate font size for readability */
  background-color: transparent; /* Elite and minimalistic background */
  padding: 1px 1px; /* Minimal padding for a sleek design */
  margin: 15px; /* Margin for spacing around the button */
  padding: 3px;
  cursor: pointer; /* Changes the cursor to a pointer to indicate clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  border-radius: 12px;
}

.loadMore:hover {
  background-color: #f8bc14;
}
