p {
  font-family: 'Libre Franklin', sans-serif;
}

.wordDay {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.6875rem; }

.textWord {
  font-family: 'Libre Franklin', sans-serif;
}

.textWord1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.textWord2 {
  font-size: 18px;
}

/* @media (max-width: 576px) {
  .mobileWord {
         
  }
} */

